@import url('https://fonts.googleapis.com/css?family=Raleway');font-family: 'Raleway', sans-serif;

body {
  margin: 16px;
}

article {
  padding:1.8em;
}

section{
  margin: 1.8em;
  padding: 1.8em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
body {
  background: url(RainyDay.jpg);
}


<!--
header {
  padding: 2em;
  text-align: center;
  /*background-image: url('RainyDay.jpg');*/
}
-->



header section {
  margin: 0 auto;
}

header img {
  /* Make avatars round */
#spMainContainer .spAvatar {
border-radius: 50%;
}

}

h1 {
  margin: 1em 0;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
